<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
      <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
  </head>
    <body data-bs-theme="light"></body>
  <body>
    {{#if flash}}
      <div>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}
    <nav>
      <ul>
        <li><a href="/">Bookclub home</a></li>
        <li><a href="/authors">authors</a></li>
        <li><a href="/books">books</a></li>
        {{#if currentUser}}
          <li>
            <a href="/users/profile">
            Welcome {{currentUser.name}}
            </a>
          </li>
          <li>
            <form action="/users/logout" role="form" method="post">
            <input type="hidden" name="_csrf" value="{{_csrfToken}}">
              <button type="submit" class="btn">Logout</button>
            </form>
          </li>
        {{else}}
          <li>
            <a href="/users/register">register</a>
          </li>
          <li>
            <a href="/users/login">login</a>
          </li>
        {{/if}}
      </ul>
    </nav>
    <div class="container">
    {{{body}}}
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>