<h1>New Author</h1>

<form action="/authors/upsert" role="form" method="post">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  {{#if author}}
    <div>
      <h2>{{author.firstName}} {{author.lastName}}</h2>
      <input type="hidden" name="id" value="{{author.id}}">
    </div>
  {{/if}}
  <div>
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="firstName" {{#if author}}value="{{author.firstName}}"{{/if}}>
  </div>
  <div>
    <label for="last_name">Last name</label>
    <input type="text" id="last_name" name="lastName" {{#if author}}value="{{author.lastName}}"{{/if}}>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>