<h1>Books</h1>
<a href="/books/form">Create a new book</a>
{{#each books}}
<li>
  <a href="/books/show/{{@index}}">{{@index}} - {{this.title}} - {{this.publishingYear}}</a>
  <a href="/books/edit?id={{@index}}">edit</a>
</li>
{{/each}}