<h1>{{book.title}}</h1>
{{#if authors}}
<p>
  Written by {{#each authors}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}
</p>

{{/if}}
<p>Originally published in {{book.publishingYear}}</p>
<p>Recommended by the IRC in {{book.yearOfRec}}</p>
<p>{{book.description}}</p>
{{#if currentUser}}
<div>
  <form action="/books_users/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <input type="hidden" name="bookId" value="{{bookId}}">
    <input type="hidden" name="userEmail" value="{{currentUser.email}}">
    <input type="hidden" name="userId" value="{{currentUser.id}}">

    <label for="status">Status</label>
    <select name="status" id="status">
      {{#unless (and bookUser bookUser.status)}}
        <option disabled value>-- select status --</option>
      {{/unless}}
      {{#each statuses}}
        <option value="{{this}}" {{#if (and @root.bookUser (eq @root.bookUser.status this))}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Submit</button>
  </form>
</div>
{{/if}}


